**/work

transcript
vsim.wlf
modelsim.ini

.library_mapping.xml
.project
.settings


Project/*/output_files/*
!Project/*/output_files/*.sof

*.bak
*.tmp
*.qws
Project/*/db
Project/*/incremental_db
*.rpt
*.cdf
*.done
*.fit
*.summary
*.sld
*.smsg
*.jdi
*.pin
c5_pin_model_dump.txt
Project/*/.qsys_edit
hps_sdram_p0_summary.csv
Project/*/HPSPlatform
Project/*/simulation
Project/*/hps_isw_handoff



